.formGroup {
    margin-bottom: 10px;
    
    /* background-color: rgb(92, 68, 116); */
    
    
}

div{
    background-color: rgb(182, 169, 194);
}

/* #id #name #price{
        color: black;
} */
